* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --soft-blue: #8bacda;
  --cyan: #00fff7;
  --darkest-blue: #0d192b;
  --medium-dark-blue: #14253d;
  --dark-blue: #2f415b;
  --white: #fff;
}

body {
  font-size: 1.8rem;
  font-family: "Outfit", sans-serif;
  background-color: var(--darkest-blue);
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: var(--medium-dark-blue);
  max-width: 60rem;
  max-height: 65rem;
  border-radius: 1rem;
}



/* Image container*/

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 30rem;
}

.img-container .image,
.img-container .overlay,
.image img {
  border-radius: 1rem;
  width: 27rem;
  height: 27rem;
}

.img-container .overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-image: linear-gradient(rgba(0, 255, 247, .30), rgba(0, 255, 247, .35));
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  transition: all .2s;
}

.img-container .overlay:hover {
  opacity: 1;
}


/* Text container */

.text-container {
  padding: 0 2rem 2rem 2rem;
  max-width: 30rem;
}

.title {
  color: var(--white);
  font-size: 2rem;
  margin-bottom: 1.5rem;
  transition: all 0.3s;
}

.title:hover {
  color: var(--cyan);
  cursor: pointer;

}

.content {
  color: var(--soft-blue);
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2rem;
  margin-bottom: 2.5rem;
}

.ethereum-container,
.days-container {
  display: flex;
  gap: 0.5rem;
}

.eth-value {
  color: var(--cyan);
  font-size: 1.4rem;
  font-weight: 600;
}

.days-left {
  color: var(--soft-blue);
  font-size: 1.4rem;
}

.price-and-days {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}

.creator-details {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding: 1.5rem 0;
  border-top: 1px solid var(--dark-blue);
}

.creator-details img {
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--white);
}

.creator-name {
  color: var(--soft-blue);
  font-size: 1.4rem;
}

.creator-name-link {
  color: var(--white);
  text-decoration: none;
  transition: all 0.3s;
}

.creator-name-link:hover {
  color: var(--cyan);
  cursor: pointer;
}